@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: hsla(160, 100%, 77%, 1);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.btn {
  padding: 0.4rem 1rem;
  font-size: 22px;
  border-radius: 7px;
  background-color: rgb(19, 77, 149);
  color: white;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
}
.btn:hover {
  background-color: rgb(10, 90, 164);
}
.btn:active {
  background-color: rgb(15, 105, 130);
}
